{% extends 'base.html' %}

{% block content %}

{% load static %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Simple To-Do List</h1>
    <p class="lead">This website application is a simple to-do list for effective and productive work. Use it to keep track of important tasks/assignments, deadlines, plans.</p>
    <h3 class="cover-heading">How to use...</h1>
    <p class="lead">Go to home page to add new items to your list. After you added items to your list, you can view it and cross completed tasks off or delete them. Use this application to organize your time.</p>
  </main>

{% endblock %}